<div class = "container pt-4">

<h1><%= @page_title%></h1>
<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>


<div class="card card-body bg-light">
    <h3>Location info</h3>
    <ul>
        <li>The BookStore</li>
        <li>Pirkheimerstr. 15</li>
        <li>81373 München</li>
        <li>Phone: (0176) 3113-9059</li>
        <li>Email: marko.ristic99@gmail.com</li>
    </li>
</div>
</div>